language: groovy
sudo: false
jdk:
- oraclejdk7
env:
  global:
  - TERM=dumb
  - MALLOC_ARENA_MAX=1
  - GRADLE_OPTS="-Xmx768m -Xms256m -XX:MaxPermSize=372m -XX:+CMSClassUnloadingEnabled"
  - GIT_NAME="Graeme Rocher"
  - GIT_EMAIL="graeme.rocher@gmail.com"
  - secure: tvWIqrDyxdGkC43Us8BNwqU8aiu3NF5YWMPFW216n+KIO6HXJNyS6oV8gWCcUr/7MQzJEKmDvgnaRYykcX7tVfRQznWhXGro2V5Je6OOdvNrXu6Qr9/2Ue586NHWlA7rLhPOS9XOA6rFIKfPAbbjBwY2bhNXQ0ITxQ7oaT+EiyE=
  - secure: UWz9O2KG0QdQu9n45OTVInrwN3r3+HzgCllnb+N8WsZvSgHt5M2uGNu1KniR+TJ9meTTb5Z2hPoCPBXCMU+Q8BJyYdMM++LeyvucHkJFHgoXM7I4CHEw/LNqf109s4FTw3ErLtlgHi6NXhBg8C1uCGc206FfW7hqlHib8NRIoWw=
  - secure: E8N5lASIE4lqfCK0uwIov39cA7nH5GwEzvJ7XCd+R3/4rP31TYvSWdlMGYdzTWizOWzUPo+kjreYkmqRuWZNBVJYvlGE8Gm1cThvILemb0Y0jVtvCAAZnmGByNUcmX20HZ53heUb+P59Zdy5AhZy64XwQfbR9K4SQTvq8WJOrKE=
  - secure: j751QVDiQQGqTXm1MpR57IC8YbGgldHsKtTwfppg7F8Lh6tCKzkSA8cTPWqmCOpmqy7Tx3az1IOPJdLZ8/gwfA6/+izJ7xfkjjUKM3UCg0b+auKphTjuiRSMrLDCQ01S5EVvBBrGADtNzmcj8D8l7D4vQ18aAb+4XfzJ5UfGHHo=
  - secure: MhEGOXJAXc/IBrh9lvMEm6K0SO4dd1taW8FbJYi6vAMrKTouLFlARjKZzSm/IREjrHr/pbmgn1ViN7bp24QPMqtq/kqMClEUeZTK8dmZfPlswiwfTsg6kjGD+gK4njNj+dAv/RXW7ceSRcbvNdNPwgiyvu7oAPMI9+vKKePKWz0=
  - secure: MkATC+v6IOk/ab8PByniOC6QBSQlBjEiLqe6BXt/clBDHJW/tZrLtWAxxfMfmkhRptkorsdTAA/I+1Z5A0+9UqSLwrWe4KqPoa/4FnxtU1KmfzWLnpbVJJsh0B7Y8TiDn09wM5R+jkwetANeDyPqDpF4iXJMlHPmX8EK0XJvvTY=
  - secure: dDI9zb22/GhVryGod9bhcSNeTrgZOpea65Wqg/RlXWczFNqI0B9evsJTD/kDMdwZP242SSXCnFMGERWQpd3IdEQ6XqpZvhaQRtQCLhWOVhtBWJqMNbUVMfKYoiWHCnODWOUZqJ4UjqemICEw+Wmu8vFkuNoaq9TxNmrptOVHRS8=
  - secure: olcrCPn3vcm9xKHWZAtDDPQogZVsoWHum+41YzfNPbXWHRdJ1g2JQ8Y/SpuS9fK+QBwaN5Xt/CF+A6fKPHeUr1xrDfqTfPEEr3fQyHFMZi09gMQmXwhEUyxpzYhrf3efJrGIL2I7Gh2Q7lc3iBwYwll1tRBBnk9fOSIpsfLgCko=
  - secure: VJt5eqKPhQbnjQakNrgC9l5MRmTMN9hccTLD+/ijZEMcb9OTHii+T3jbsHH6cw5JuTH5wabjuWYObtlXLZ+lQknU9hmbhSsm5NlqKHhOno+IxNzfhfRm26oo7wGQneW4cujkmOkzLZrSNN8MU1ISMb0g24x4TgbVzjAUD5jsT/M=
  - secure: bm/8EJkrBeO9H+MHwTogPr/0/19vV+K4O+lRAweKOl2w4QxbIog9cCPKr6+b3N+o2N75OImnRwRNXw2x/clV1Vl8TqxdtwNislW+SCei9N7MxrUK27KWCc/k1vad4D2D26DVxx2PquPo24Q8wfc7rXSeoLi4iHlIdpBECIxtA9c=
  - secure: X0fScDRO+fo4P4/xUvRmMhpNVqqPrIACIfnywXkUhl4gC/JyxBTfZmw+V6zsnNbyAW8AqJoejB3c709xyqdURXMy89Ect+lY/tei7ah5uZpgv82MhZsGCVaplPJiPDNGPHanqRynIv5brBodZuq0sohKxGRlcoSqChq4ZlY2HII=
  - secure: M2WGEzaA4K64HCuNaXbEsg9aKg9Uo5VJOUBSiNmBQQfracqDWoPW6BlC+uD8dqBkFG4z3L4rJWnPoUNDZrqIUmInNLXGQrlkmfHTrAvCs6V+Jj4ilIRfc/bZnasoTmLxT4PPFZGCLcRJ3QwAJ+36EOZPDcXPXpN0hw4hB1hOx9Q=
  - secure: Frvf9gLJ/pfy3SWMm9LXdprO/snMFfDO9pTd1bl2GN3QBmkF40G20NzoFI6jbYeyg+gwJQmnC6NVi/KDAkJ/EBO05Xk/qMKwWWsASgdDzdnUNTynFPH0zcnv64d6qZAaLWeH/gWQPZ+99zmbVzFqSNDggEo+cPBm9QjqJ608Yx4=
  - secure: JM8mzEz6+UtRnG68vbitVoPzcrSHbEIa0z7Nfhu3RKMDOmQgfGNIF+ZDZPAa/tYpNBTJWKjeIJc8opCfd1p1+s6ISc7B29ymulQ3ztwFWcetunrSmxl8H96aqzjc+82DO6huj4Tzi0u2MADnh9wVm+A1+tcqLjpaLGmskMlvdbw=
  - secure: ICWgIGwHFH37nlY9k094qnnKy0tW2XDSOtGsvHb65AxsPsXB1zqj7Qd76Fboo1xFGQGpg+S6AHekY6Ch1prNOpkpPHw35UaQzaRqUxFUhfZYiD0rlmvzKrvKTesrFLy4LJwrTzGCQrViYgqfHvCeQ3r53wWff6nu8uFmMOPmGNY=
  - secure: XwKxDJFXlxPhJox9sZYFrOhHY5BfPRNrqolMfOe2ZMMJyeX5uap9i9gyGrKF0gqtJx4XR4kn6HrrtK2DT7LAjPJgY2DJGXtMulRLTGtsCz3PF95Pc7q2Eb4h6t5XM0Hl//xT4fmREQLN4FEsOUkFcJALCua7uS6xYvmHAMLEtsw=
install: /bin/true
script:
  - ./travis-build.sh
deploy:
  provider: releases
  api_key:
    secure: DZw5jbbopmowRUhMjXOqosGLuyXQDHlXsT2BEH0sf08TxNJHvroCyoSy18Rl00AFEvkl1nyUf7Wsol9TRNAr+uqRdhGe3HCeOVYDEc8oKtsMQpHnrXBS1hBp6Bkb9DuKvbseUPs3k1CLreuZR3z48uhdQzKoQnn2ZXWcVRjJPl4=
  file: build/distributions/grails-${TRAVIS_TAG:1}.zip
  skip_cleanup: true
  on:
    repo: grails/grails-core
    tags: true
    all_branches: true
after_deploy:
- ./gradlew sdkMajorRelease
cache:
  directories:
  - $HOME/.gradle
notifications:
  slack:
    secure: WAto/v/ZBvlXxWTHUH6hONQ1uJZxVnUts1V7379hCViN5+DOfIbxzQAq+10SAgD6pa2BcQftpKIWr1/9RUZyK3oxE2mHbVUulkaVHNJJfz6oPD5pnCVMxE+ZuhkRuhkddGDBHpYaVw37QBkalLB0rE0h7Ddvo/gk9ICSQQLTlvE=
