language: groovy
jdk:
- oraclejdk7
env:
  global:
  - TERM=dumb
  - GRADLE_OPTS="-Xmx768m -Xms256m -XX:MaxPermSize=256m -XX:+CMSClassUnloadingEnabled"
  - _JAVA_OPTIONS="-XX:-UseSplitVerifier"
  - secure: tvWIqrDyxdGkC43Us8BNwqU8aiu3NF5YWMPFW216n+KIO6HXJNyS6oV8gWCcUr/7MQzJEKmDvgnaRYykcX7tVfRQznWhXGro2V5Je6OOdvNrXu6Qr9/2Ue586NHWlA7rLhPOS9XOA6rFIKfPAbbjBwY2bhNXQ0ITxQ7oaT+EiyE=
  - secure: UWz9O2KG0QdQu9n45OTVInrwN3r3+HzgCllnb+N8WsZvSgHt5M2uGNu1KniR+TJ9meTTb5Z2hPoCPBXCMU+Q8BJyYdMM++LeyvucHkJFHgoXM7I4CHEw/LNqf109s4FTw3ErLtlgHi6NXhBg8C1uCGc206FfW7hqlHib8NRIoWw=
  - secure: E8N5lASIE4lqfCK0uwIov39cA7nH5GwEzvJ7XCd+R3/4rP31TYvSWdlMGYdzTWizOWzUPo+kjreYkmqRuWZNBVJYvlGE8Gm1cThvILemb0Y0jVtvCAAZnmGByNUcmX20HZ53heUb+P59Zdy5AhZy64XwQfbR9K4SQTvq8WJOrKE=
  - secure: fl6HQdSa1Y6wBA2M5VXWcyOmzARn/2FexnMEdbbfaukxSAojISLxbXbW46vUs3uVqOCQTXaAFqBPukFI05cdNcSRGTqyeY1YQAJYIRl7oZUkEYCxQQnBRHMzJ3VNRXDA2H4NH7FTaXthwMDOVBGYZnPY29TBmoRG8VM2YEl4kLE=
  - secure: j3JBNcwvnLR9E9HhnCNZrsE2d5Ruw0RNLq8cB8X4kBAMuwfsVBg/VWq0R5saBK81mcGGbO664r/tm3V+xNNUvMXJmUpFCywwbtd82kuHDDT7q/J5sHii8Dw3fszOyagqg8sjcmN7oejlcJJ3B7B9WzRFux0DBMkZ/ty1rydNKcs=
  - secure: j751QVDiQQGqTXm1MpR57IC8YbGgldHsKtTwfppg7F8Lh6tCKzkSA8cTPWqmCOpmqy7Tx3az1IOPJdLZ8/gwfA6/+izJ7xfkjjUKM3UCg0b+auKphTjuiRSMrLDCQ01S5EVvBBrGADtNzmcj8D8l7D4vQ18aAb+4XfzJ5UfGHHo=
  - secure: MhEGOXJAXc/IBrh9lvMEm6K0SO4dd1taW8FbJYi6vAMrKTouLFlARjKZzSm/IREjrHr/pbmgn1ViN7bp24QPMqtq/kqMClEUeZTK8dmZfPlswiwfTsg6kjGD+gK4njNj+dAv/RXW7ceSRcbvNdNPwgiyvu7oAPMI9+vKKePKWz0=
  - secure: MkATC+v6IOk/ab8PByniOC6QBSQlBjEiLqe6BXt/clBDHJW/tZrLtWAxxfMfmkhRptkorsdTAA/I+1Z5A0+9UqSLwrWe4KqPoa/4FnxtU1KmfzWLnpbVJJsh0B7Y8TiDn09wM5R+jkwetANeDyPqDpF4iXJMlHPmX8EK0XJvvTY=
  - secure: F2/ezAm2pX3CDjU+/L8vC+fTAU8Qu6We2aLmKh0Mzi0hGmu0paEy/ixDl9twai0lGxWB1S8q7m0+bw87elFr4UYTlMs1kvONzChbXZj2D0Es46m//mirVzADSVAo/Fnpe4I6fqeaF7ggxMRZ3rY2xQ8TFsaoFWodNymEU8KIih8=
  - secure: dDI9zb22/GhVryGod9bhcSNeTrgZOpea65Wqg/RlXWczFNqI0B9evsJTD/kDMdwZP242SSXCnFMGERWQpd3IdEQ6XqpZvhaQRtQCLhWOVhtBWJqMNbUVMfKYoiWHCnODWOUZqJ4UjqemICEw+Wmu8vFkuNoaq9TxNmrptOVHRS8=
  - secure: olcrCPn3vcm9xKHWZAtDDPQogZVsoWHum+41YzfNPbXWHRdJ1g2JQ8Y/SpuS9fK+QBwaN5Xt/CF+A6fKPHeUr1xrDfqTfPEEr3fQyHFMZi09gMQmXwhEUyxpzYhrf3efJrGIL2I7Gh2Q7lc3iBwYwll1tRBBnk9fOSIpsfLgCko=
before_script:
- ./gradlew populateDependencies testClasses install
script: ./travis-build.sh
install: /bin/true
after_failure: ./travis-after-failure.sh
deploy:
  provider: releases
  api_key:
    secure: DZw5jbbopmowRUhMjXOqosGLuyXQDHlXsT2BEH0sf08TxNJHvroCyoSy18Rl00AFEvkl1nyUf7Wsol9TRNAr+uqRdhGe3HCeOVYDEc8oKtsMQpHnrXBS1hBp6Bkb9DuKvbseUPs3k1CLreuZR3z48uhdQzKoQnn2ZXWcVRjJPl4=
  file: "build/distributions/$RELEASE_FILE"
  on:
    repo: grails/grails-core
