language: groovy
dist: trusty
jdk:
- openjdk8
- openjdk11
env:
  global:
  - TERM=dumb
  - MALLOC_ARENA_MAX=1
  - GRADLE_OPTS="-Xmx768m -Xms256m -XX:MaxPermSize=372m -XX:+CMSClassUnloadingEnabled"
  - GIT_NAME="Graeme Rocher"
  - GIT_EMAIL="graeme.rocher@gmail.com"
  - secure: HMX1CzkCcj9Qal1Syk3kJR1VBQcmT5Uo986dL4r28q00YoyrfRjtAIqvCJSKO1t7aCeJkG74sdeNs43EYpkXCAS9c/ffWAWK1G+YAO5XgJi9cWj/B5F6MGD3YAbO86PIUceq3VcoGztflBB7i9N9YakYt41vnMPULHFBEpLtfOQ=
  - secure: cxwLqMrf9LXt8KvDmDAduoh8lvsJpn9lI5lzUr/1BZG1c0NLA/n6cK3niqm2bdRVYuQm6lWH5ogJQwYTwrbSri78ATotV4ocNz6Faz/U8C75hSoYiJwenUqv7y06o/xks4vwuka1Rp3A4By6nLr/Uv9RN+GAVlvH6aCHB5nF/zY=
  - secure: nWjedZFU24YArzL9SvV/wi6kH/VoNLEE4EtrmA0xKwu7TXLPRhs/T/mmwlwLKinl4uv/RcD0ISztQKdrG5Dw7JpA/40fH32f2wVg6DotgGHj6YUK57Gf3QjYhc88Y5s19nqg5Pmq8CS7vz4lEkD141ooY4zBjSQfPhqoUdoAzzM=
  - secure: SDQ+OFOrZKsJlO7IdLEoPua4XdaYL97uomB+2vLgQwurdJ/dMaqgj5SZU6GF+e+06TcxF/HymhSljlfRWYY1IkvXS6QJ0RCtAXk4/4QcDOiasee2qIA+Mdqzo8wcHyX3ArjGkDAKkO6ba/eahHV/idkVE+UcHN0cnvu23PXuiUo=
  - secure: eUYGb7t1WKil8i0lQrM+JuT1vmBhoCzleeC9FWWrzbPb5s0YoQxkzsjLZ1GwBvOeusUn/pLOXhQ2Wra2244DTp3kUkTdvneKLM+D1/YySr8Ye07pzQOk2jukMxp3DZi3P1Hjy5jaAtR8hJ5sd7XotdlEeBkIpOw/p5rSPT9oGbw=
  - secure: GY53nFbVUWnJzQISb3AWMZY5gPsO6clcvanGlh3RvtrRViYum/0LB4BfDJKUZQlezZddQllKXy26uxDkHriAwC3xqpMy4G5b7B2H7tmtCJ3pr+ayLM69Tm3iqAcLZziyUvcuHTS71cy9/N2xqMa1pQWSFODwCQd1XoTHb4YhGKY=
  - secure: W2R1OV8QnIyLdzOjy2XLgYyE5C9W+Ei4BctsnpjC1bPYzDJcE8lJCEv9+WWa0l5lLRgBWBDREwK6jW20M1Dj+voa82pNYCCsblPFuGhGVHIIExkZatJafF6X4suOMacOYH3oEyLYLKoSINyxqgAQIQTr7+zeStdSSQQq7YRs1gg=
  - secure: LI9fKkTXvMd0CJCLFDvCAn2T14sXL3AAOMnqThZeNgeICsNy1hhF4dSAi7a4Y1psfV7CVeSjPvda8tONf8GnEpByhiUkqODeFeL1B/PfTYqY8oncjE4xrJnii5ckZbfQ16Yd8j6fRX4fbhcAzX36GHb5adZXZT9eeLPSvHdfla0=
  - secure: uEQ9bEvqBpu4axSzgVWM4RQZZmndvxuOU5qRUNap9+CVWwq/HLVALss6FFhp5z/YaD1GtVBPeehT9wvMUXSQVv9c9jL9GfJcDpp37kuANPV6f++u1E3Iorqpf7jUIaPxdQO1vV4ZwJM1GmTao+3Gkqx6SdBb/itlMGV6c1sb02U=
  - secure: Nh3WYZnj/d03m0mvOMGk0ROtLT1ezRkbwrlcBDIHuJ17FX5FAr20UeJ/geV0DUPZE5JvyV69l6dkCRZ40efWhFMeuHpnglf/MNuWZPcqYFsNQtEX2VHVH//3yxqtrg2r497ygoOOnjVG1lIxw4qJVnw0M1YwL7N4fuuo6OtehwI=
  - secure: fr1fc8/FoGmh3IhyKZ+i9JJFMrV8zMSnoI0Z5I0gtdHSGg3h+ShcAzahsGo20y2NlD+Bg8PslpCSh+jmd/4M/mxAb9cYceJyxMS3d87j9hlVQ8l/bf2VrXRIQEZ/ieADPSA1lg08y9Hd7MMr53UernF9nzKMtsbVX23YE1lkMUA=
  - secure: U2aQypvBmL3oHvF44/IVQoG+VdTpBhGakIi6PdmGNhYFVB++SJCq1whow2X+xXPimFRSvSiHWa5XDGtdVwN4o4Dy0CPk+72nwa4Yx4L7IZNr7p+ZyceioRmdGXMKyvzhEmUHqDUwrbhwLlP6K+hVFIKTrxQR/6TWbLEbdDPQdjc=
  - secure: tpo5MPUDObdMpZeovj80+SFPjBgsUoyvdUvPhBF1paN4qKdrhcz+xyk3qB1dsXuUmGbzya7gjz9TdniLpSS86CbXd8TGiSL/14YlrSrLxIbhLWNIodaKbV21FIQYyz+E7EP611QcAGr1lHTYKDz2JnKbpSXsJt/qgROnEB62R4U=
  - secure: ikQeb2+ul0PTQqu6Jl2K0tnQIflWM0ifYKUxbZuIApoVyeL53zmzhLoI3waNZRoGyRF8eQ6V8C8SISUpD8fDDWaTMrkp9r3Zd0y9DG2FK5GYK1c+gxeUzLkxQvTMqRCsODlS6ZYR9ofyO2J6jG5H8hxcGnI7LoU6ufYFj8FwN70=
  - secure: G/lGAj8bUzWA14PMtJiuOdKtYXZHA+T65ytZ8sTm3x+27DZKbZw86HkaUhmB5zFqkrP9Vu/Py/rOpiHoWlO9YH15kb/gOyvN6s3RuSmVMOMK06ogvFFAAf5N6BVEc0DYlwF7EY7tB9CqdivUinacIaThpcuClZAhk9GpptlmQB4=
install: "/bin/true"
script: "./travis-build.sh"
deploy:
  provider: releases
  api_key:
    secure: DZw5jbbopmowRUhMjXOqosGLuyXQDHlXsT2BEH0sf08TxNJHvroCyoSy18Rl00AFEvkl1nyUf7Wsol9TRNAr+uqRdhGe3HCeOVYDEc8oKtsMQpHnrXBS1hBp6Bkb9DuKvbseUPs3k1CLreuZR3z48uhdQzKoQnn2ZXWcVRjJPl4=
  file: build/distributions/grails-${TRAVIS_TAG:1}.zip
  skip_cleanup: true
  on:
    repo: grails/grails-core
    tags: true
    all_branches: true
after_deploy:
- "./gradlew sdkMinorRelease"
cache:
  directories:
  - "$HOME/.gradle"
notifications:
  slack:
    secure: WAto/v/ZBvlXxWTHUH6hONQ1uJZxVnUts1V7379hCViN5+DOfIbxzQAq+10SAgD6pa2BcQftpKIWr1/9RUZyK3oxE2mHbVUulkaVHNJJfz6oPD5pnCVMxE+ZuhkRuhkddGDBHpYaVw37QBkalLB0rE0h7Ddvo/gk9ICSQQLTlvE=
addons:
  hosts:
  - grails
  hostname: grails
