<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<import resource="spring/resources.xml"/>
	
	<!-- This is the context that is loaded after Grails' runtime bean 
		configuration. Put post initialization beans here if you need to get hold
		of the SessionFactory etc.
	-->  	
</beans>