/* page layout and page numbering */
@page {
   size: a4;
   font-family:Arial;
}

@page :left {
    @bottom-left {
        content: counter(page);
        vertical-align: middle;
        margin: 0.8em 0;
        font-size: 12pt;
    }
}

@page :right {
    @bottom-right {
        content: counter(page);
        vertical-align: middle;
        margin: 0.8em 0;
        font-size: 12pt;
    }
}

.body {
    margin:0px;
    padding:0px;
}


#header {
    margin:0px;
    padding:0px;
    background:url(../img/bg.png) no-repeat;
}

#header .images .rsalogo{
    display:none;
}

.body #header .message{
    color:#FFFFFF;
    font-size:16px;
    margin-left:60px;
    margin-top:730px;
    border-bottom:none;
    text-align:left;
    
}

/* style overrides */

.paragraph {
    text-align:center;
    margin:10px auto;
}

h1 {
    font-size: 20px;
    string-set: header content();
    page-break-before: always
}

h1>a {
    font-size: 20px;
    string-set: header content();
    page-break-before: always
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h1, h2, h3, h1>a, h2>a, h3>a {
    color:#000000;
}

#toc div.tocItem {
    list-style: none;
    margin: 0;
    padding: 0;
}

#toc div.tocItem a::after {
    content: leader('.') target-counter(attr(href), page);
    font-style: normal;
}

div.title {
    font-size: 20px;
}

.body {
    font-size: 14px;
}

pre .code {
    padding-left:5px;
    font-size: 12px;
    line-height: 100%;
    white-space: normal;
    page-break-inside: avoid;
}

.code, .bq {
    margin-bottom: 2em;
    page-break-inside: avoid;
}

.warning, .note{
    background-position:10px 10px;
}

.warning, .note, table {
    margin-top: 2em;
    margin-bottom: 2em;
    page-break-inside: avoid;
}
