<plugin name='hibernate' version='1.2-SNAPSHOT' grailsVersion='1.2-SNAPSHOT &gt; *'>
  <author>Graeme Rocher</author>
  <title>Hibernate for Grails</title>
  <description>A plugin that provides integration between Grails and Hibernate through GORM</description>
  <documentation>http://grails.org/doc/1.2-SNAPSHOT</documentation>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='dataSource' version='1.1 &gt; *' />
    <plugin name='i18n' version='1.1 &gt; *' />
    <plugin name='core' version='1.1 &gt; *' />
    <plugin name='domainClass' version='1.1 &gt; *' />
    <resolvers>
      <resolver type='mavenCentral' />
    </resolvers>
    <dependency group='org.hibernate' name='hibernate-annotations' version='3.4.0.GA' conf='compile' transitive='true' />
    <dependency group='javassist' name='javassist' version='3.4.GA' conf='runtime' transitive='true' />
    <dependency group='org.hibernate' name='hibernate-core' version='3.3.1.GA' conf='compile' transitive='true'>
      <excludes group='*' name='ehcache' />
      <excludes group='*' name='xml-apis' />
      <excludes group='*' name='commons-logging' />
    </dependency>
    <dependency group='org.hibernate' name='hibernate-commons-annotations' version='3.3.0.ga' conf='compile' transitive='true'>
      <excludes group='*' name='hibernate' />
    </dependency>
  </dependencies>
  <behavior />
</plugin>