<plugin name='webflow' version='1.2-SNAPSHOT' grailsVersion='1.2 &gt; *'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme.rocher@springsource.com</authorEmail>
  <title>Spring Web Flow Plugin</title>
  <description>\
Integrates Spring Web Flow with Grails
</description>
  <documentation>http://grails.org/plugin/webflow</documentation>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <plugin name='core' version='1.2 &gt; *' />
    <plugin name='i18n' version='1.2 &gt; *' />
    <plugin name='controllers' version='1.2 &gt; *' />
    <resolvers>
      <resolver type='mavenCentral' />
    </resolvers>
    <dependency group='org.springframework.webflow' name='org.springframework.js' version='2.0.8.RELEASE' conf='compile' transitive='true' />
    <dependency group='org.springframework.webflow' name='org.springframework.binding' version='2.0.8.RELEASE' conf='compile' transitive='true' />
    <dependency group='org.hibernate' name='hibernate-commons-annotations' version='3.3.0.ga' conf='compile' transitive='true'>
      <excludes group='*' name='hibernate' />
    </dependency>
    <dependency group='ognl' name='ognl' version='2.7.3' conf='runtime' transitive='true' />
    <dependency group='org.springframework.webflow' name='org.springframework.webflow' version='2.0.8.RELEASE' conf='compile' transitive='true' />
    <dependency group='org.hibernate' name='hibernate-core' version='3.3.1.GA' conf='compile' transitive='true'>
      <excludes group='*' name='ehcache' />
      <excludes group='*' name='xml-apis' />
      <excludes group='*' name='commons-logging' />
    </dependency>
    <dependency group='javassist' name='javassist' version='3.4.GA' conf='runtime' transitive='true' />
    <dependency group='org.grails' name='grails-webflow' version='1.2-SNAPSHOT' conf='compile' transitive='true' />
    <dependency group='org.hibernate' name='hibernate-annotations' version='3.4.0.GA' conf='compile' transitive='true' />
  </dependencies>
  <behavior />
</plugin>