.paginateButtons {
	margin:10px;	
    margin-bottom:20px;
}
.step {
	margin-left:5px;
	margin-right:5px;	
}
textarea {
	width: 300px;
	height: 100px;
}
.prop {
	padding: 5px;
}
.buttons {
	margin-top: 15px;
	padding-bottom: 5px;
}
.actionButtons {
	width:100px;
}
div .errors {
	border: 2px solid red;
	padding: 5px;
	margin-top:10px;
	margin-bottom:10px;
}
td .errors {
   border: 1px solid red;
}
.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top:10px;
	margin-bottom:10px;
}
.prop .name {
	font-weight:bold;
}
.post {
 margin:5px;
 margin-bottom:45px;
}
.post .controls {
 margin:10px;
}
.post .title {
  font-weight:bold;
}
.post .leftBy {
  margin-top:10px;
}
.post .msg {
 padding:10px;
 border: 1px solid #003366;
 background-color:#E4EEB3;

}
th {
   text-align:left;

}
.topic {
   border: 1px solid #003366;
   margin: 5px;
   padding:5px;
}
.topic .desc {
   margin-top:5px;

}
.login {
	margin:10px;	
}

.question .text {
  font-weight:bold;
  margin-top:20px;

}
.userForm {
  background-color:#E4EEB3;
  border: 1px solid #4e214e;
  padding-bottom:10px;
}
.userForm td {
	padding-top:10px;
    padding-left:10px;	
}

#rightside {
    margin:20px;
    position:absolute;
    left: 650px;
}