body{
	background-color:white;
	color:#000000;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	text-align:center;
}

#sitename{
	position: absolute;
	top: 0;
	left: 0;
	background:url(img/grails_logo.jpg) top left no-repeat;
	color:#ffffff;
	height:88px;
	margin:0;
	width: 783px;
}

/**/
/* Main Structural Elements */
/**/

#container{
	position: relative;
	top: 0;
	left: 0;
	margin: 0 auto;
	text-align: left;
	width: 783px; 
	

}

#nav {
	position: absolute;
	top: 88px;
	left 0;
	height: 0;
}

#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	clear:both;
	padding:0;
	width:783px;
	padding:0;

}

#leftside {
	position: absolute;
	top: 233px;
	left: -24px;
	width:133px;
	border: 1px solid #4e214e;
	background-color: #b1cc2c;
	background-image:url(img/subsubnavbg.gif);
	background-repeat:repeat-x;
	padding-left: 10px;
	padding-top: 10px;
	
}
#body img {
   margin: 10px;
}
#rightside {
	position: absolute;
	top: 83px;
	left: 653px;
	width:133px;
}

#rightside div {
	border: 1px solid #4e214e;
	background-color: #b1cc2c;
	background-image:url(img/rightboxbg.gif);
	background-repeat:repeat-x;
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
	padding-left: 10px;
	padding-top: 10px;
}

#rightside div div {
	background-color: transparent;
	background-image:url(img/rightbox-image-default.gif);
	background-repeat:no-repeat;
	background-position: bottom right;
	padding: 0;
	margin: 0;
	border: 0;
	padding-bottom: 20px;
	height: 50px;
}

#rightside div div.type1 {
	background-image:url(img/rightbox-image-type1.gif);
	padding-bottom: 20px;
}

#rightside div div.type2 {
	background-image:url(img/rightbox-image-type2.gif);
	padding-bottom: 20px;
}

#content{
	position: absolute;
	top: 164px;
	width: 472px;
	left: 0;
	background-color: white;
	padding-left: 143px;
	padding-right: 143px;
	font-size: 90%;
	
}

#subnav {
	position: absolute;
	left: 0;
	top: 107px;
	z-index: 999;
	padding-left: 110px;
	padding-top: 10px;
	colour: white;
	font-size: 13px;
	background-image: url(img/topbar_background.gif);
	background-repeat:no-repeat;
	background-position: top left;
	width: 700px;
	height:55px;
}

#body {
	
}

/**/
/* */
/**/

#nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

	
#nav li {
	background:url(img/tabs.gif) no-repeat 0 0;
	float:left;
	margin:0 3px 0 0;
	padding:0 0 0 3px;
}

#nav a {
	background:url(img/tabs.gif) no-repeat 100% 0;
	display:block;
	font-weight: bold;
	letter-spacing:0px;
	padding:4px 11px 8px 3px;
	text-decoration:none;
	color: grey;
	font-size: 14px;
	white-space: nowrap;
}

#nav a:hover {
	color: black	;
}

#nav #current {
	background:url(img/tabs.gif) no-repeat 0 -42px;
}

#nav #current a {
	background:url(img/tabs.gif) no-repeat 100% -41px;
	color:black;
}


#subnav ul {
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 1em;
	margin-right: 10px;
}

#subnav li {
	list-style-image:url(img/list-marker.gif);
	margin: 0;
	padding: 0;
}

#subnav a {
	color: white;
	font-weight:normal;
	text-decoration:none;
	margin: 0;
	padding: 0;
	position: relative;
	left: -5px;
}

#subnav a:hover {
	color: #303030;
	}

#subsubnav {
	padding: 0;
	margin: 0;
	margin-left: 1em;
	padding-right: 10px;
	padding-bottom: 110px;
	background-image:url(img/subsubnav-cartoon.gif);
	background-position: bottom right;
	background-repeat:no-repeat;
	height: 120px
}

#subsubnav li {
	padding: 0;
	margin: 0;
	list-style-image:url(img/list-marker.gif);
}

p {
	line-height:1.5em;
	margin:0 0 15px;
}






#header {
	height:30px;
	position:relative;
	width:730px;
}

#header h1 {
	float:left;
	font-size:1.4em;
	margin:0;
	width:180px;
}

#leftside h1 {
	color: #643e64;
	font-size:95%;
	font-weight:bold;
	margin:0 ;
}





#content p {
	margin:8px 0 0 0;
}

#content h1 {
	color:black;
	font-size:120%;
	font-weight:bold;
	margin-top: 20px;
	padding:0;
}

#content h2 {
	color:#505050;
	font-size:1.5em;
	font-weight:normal;
	margin:20px 0 10px;
	padding:0;
}


#leftside img {
	float: right;
	margin: 0;
	padding: 0;
}	


#subsubnav a {
	font-size: 80%;
	color: #54640f;
	font-weight:normal;
	text-decoration:none;
	
}

#subsubnav a:hover {
	color: #F4B;
	}

a {
}

a:hover {
	color: #F4B;
}

#rightside a {
	display: block;
	font-size: 80%;
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	padding-right: 5px;
}

#rightside h1{
	color: #643e64;
	font-weight:bold;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

#rightside p{
	font-size:0.9em;
	margin:2px 0 12px 0;
}


/* Footer */

#footer{
	clear:both;
	color:#707070;
	font-size:0.9em;
	height:26px;
	margin-top:20px;
	margin-left: 0;
	margin-right: auto;
	padding: 5px 0 35px 0;
	width:400px;
	border-top: 1px dotted #707070;
	
}

#footer a{
	color:#a0a0a0;
	font-weight:normal;
}

#footer a:hover{
	color:#F4B;
	text-decoration:underline;
}
